
GridPane {
	-fx-border-width: 1;
	-fx-border-color: black;
}

.white {
	-main-color: white;
	-fx-background-color: -main-color;
}

.black {
	-main-color: black;
	-fx-background-color: -main-color;
}

.highlighted {
	-fx-background-color: ladder(-main-color, derive(yellow, -20%) 49%, derive(yellow, 35%) 50%);
}
